body{
    background: linear-gradient(to left,rgb(201, 136, 14),black 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.startbtn{
    cursor:pointer;
    border-radius: 20rem;
    font-size: 14px;
    height: 3.5em;
    width: 10.5em;
    color: azure;
    background: linear-gradient(to left,black,orange);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 60px;
    width: 80%;
    height: 80%;
}
.card {
    background: linear-gradient(to left,black,orange);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    border: 1px solid white;
  }

.card img {
    width: 60%;
  }

.win {
    color: azure;
    display: flex;
    flex-direction: column;
  }
.alter{
    margin-left: 55px;
}

.hide {
    display: none;
  }
  
  
@media (max-width: 900px) {
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 15px 15px;
      width: 80%;
      height: 80%;
    }
  }

img{
    border-radius: 20%;
    height: 10rem;
    width: 10rem;
  }